@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&display=swap');

:root {
    --field-height: 100dvh;
    --field-width: 100dvw;
    --open-screen-text-color: orange;
    --open-screen-background-start: rgb(119, 5, 5);
    --open-screen-background-end: rgb(63, 2, 2);
    --button-font-size: 2rem;
    --open-screen-animation-time: 3000ms;
}

html {
    font-size: calc(15px + 0.390625vw);
}

.field {
    border: 5px solid var(--open-screen-text-color);
    height: var(--field-height);
    position: relative;
    background-color: blanchedalmond;
}

.cover {
    height: calc(var(--field-height) / 2);
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(90deg, var(--open-screen-background-start), var(--open-screen-background-end));
    display: flex;
    justify-content: center;
    align-items: center;
}

.up {
    right: 0;
    left: 0;
    top: 0;
}

.moveup {
    animation: moveup var(--open-screen-animation-time) ease-in forwards;
}

.down {
    left: 0;
    right: 0;
    bottom: 0;
}

.movedown {
    animation: movedown var(--open-screen-animation-time) ease-in forwards;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    /* background-color: brown; */
    background-image: radial-gradient(var(--open-screen-background-start), var(--open-screen-background-end));
    width: 4rem;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    animation: scaling 2s linear forwards;
}

.common {
    background-image: radial-gradient(var(--open-screen-background-start), var(--open-screen-background-end));
}

.uncommon {
    background-image: radial-gradient(cyan, navy);
}

.rare {
    background-image: radial-gradient(pink, magenta);
}

.veryrare {
    background-image: radial-gradient(yellow, orange);
}

.legendary {
    background-image: radial-gradient(lime, rgb(9, 88, 9));
}

.counter {
    position: absolute;
    width: fit-content;
    min-width: 5vh;
    padding: 0.5vw 1vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
    border: 1px solid black;
    left: 80vw;
    color: black;
    text-align: center;
}

.bar-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 15vw;
    outline: 5px solid var(--open-screen-text-color);
    top: 0;
    right: 0;
    height: var(--field-height);
    justify-content: space-around;
}

.bar {
    /* position: absolute; */
    font-family: 'Caveat', cursive;
    background-image: linear-gradient(90deg, var(--open-screen-background-start), var(--open-screen-background-end));
    color: var(--open-screen-text-color);
    /* width: 12vw; */
    /* left: 80vw; */
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5vw 1vw;
    flex-grow: 1;
    user-select: none;
    /* outline: 5px solid var(--open-screen-text-color); */
}

.levelbar {
    /* top: 10vh; */
}

.currentscorebar {
    /* top: 25vh; */
}

.recordbar {
    /* top: 40vh; */
}

.score {
    background-color: cyan;
    top: 50vh;
}

.error {
    background-color: pink;
    top: 65vh;
}

.button {
    position: relative;
    text-transform: uppercase;
    line-height: var(--button-font-size);
    font-size: var(--button-font-size);
    color: var(--open-screen-text-color);
    font-weight: bold;
    cursor: pointer;
    font-family: 'Caveat', cursive;
    letter-spacing: 0.3rem;
}

.button::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    background-color: var(--open-screen-text-color);
    height: 2px;
    top: var(--button-font-size);
}

.roundending {
    display: none;
    margin: 30vh auto 0;
    background-image: linear-gradient(90deg, var(--open-screen-background-start), var(--open-screen-background-end));
    width: 20%;
    border: 5px solid var(--open-screen-text-color);
    transform: translateX(-7, 5vw);
}

.option {
    text-align: center;
    padding: 0.5rem 1rem;
    color: var(--open-screen-text-color);
    font-family: 'Caveat', cursive;
    font-size: var(--button-font-size);
    cursor: pointer;
    user-select: none;
}

.option:first-child {
    margin-bottom: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 0;
}

.option:last-child {
    padding-bottom: 1.5rem;
    padding-top: 0;
}

.endscreen {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(90deg, var(--open-screen-background-start), var(--open-screen-background-end));
    width: 20%;
    border: 5px solid var(--open-screen-text-color);
    margin: 20vh auto 0;
}

.endscore {
    color: var(--open-screen-text-color);
    font-family: 'Caveat', cursive;
    font-size: var(--button-font-size);
    padding: 0 1rem;
    font-weight: bold;
    user-select: none;
}

.endscore:first-child {
    font-size: 1.6rem;
    align-self: center;
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.25);
    }

    50% {
        transform: scale(0.75);
    }

    75% {
        transform: scale(0.25);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes moveup {
    from {
        top: 0;
    }

    to {
        top: calc(-3 * var(--field-height) / 4);
    }
}

@keyframes movedown {
    from {
        bottom: 0;
    }

    to {
        bottom: calc(-3 * var(--field-height) / 4);
    }
}

@media screen and (max-width: 867px) {

    .roundending,
    .endscreen {
        width: 32%;
    }

    .endscore:first-child {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 512px) {

    .roundending,
    .endscreen {
        width: 40%;
    }

    .bar {
        font-size: 1.3rem;
    }

    .endscore:first-child {
        font-size: 1.4rem;
    }

    .endscore {
        font-size: 1.7rem;
    }
}